In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('StudentsPerformance.csv')
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [8]:
df.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [10]:
mdf = df.set_index(['race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course','gender'])

In [11]:
mdf.head()

,,,,,math score,reading score,writing score
race/ethnicity,parental level of education,lunch,test preparation course,gender,,,
group B,bachelor's degree,standard,none,female,72,72,74
group C,some college,standard,completed,female,69,90,88
group B,master's degree,standard,none,female,90,95,93
group A,associate's degree,free/reduced,none,male,47,57,44
group C,some college,standard,none,male,76,78,75

In [12]:
mdf.xs('group B')

                                                                         math score  \
parental level of education lunch        test preparation course gender
bachelor's degree           standard     none                    female          72
master's degree             standard     none                    female          90
associate's degree          standard     none                    female          71
some college                standard     completed               female          88
                            free/reduced none                    male            40
...                                                                             ...
bachelor's degree           standard     none                    female          75
some college                free/reduced completed               male            60
high school                 free/reduced none                    female           8
some high school            standard     completed               male            79
                                                                 female          65

                                                                         reading score  \
parental level of education lunch        test preparation course gender
bachelor's degree           standard     none                    female             72
master's degree             standard     none                    female             95
associate's degree          standard     none                    female             83
some college                standard     completed               female             95
                            free/reduced none                    male               43
...                                                                                ...
bachelor's degree           standard     none                    female             84
some college                free/reduced completed               male               62
high school                 free/reduced none                    female             24
some high school            standard     completed               male               85
                                                                 female             82

                                                                         writing score
parental level of education lunch        test preparation course gender
bachelor's degree           standard     none                    female             74
master's degree             standard     none                    female             93
associate's degree          standard     none                    female             78
some college                standard     completed               female             92
                            free/reduced none                    male               39
...                                                                                ...
bachelor's degree           standard     none                    female             80
some college                free/reduced completed               male               60
high school                 free/reduced none                    female             23
some high school            standard     completed               male               86
                                                                 female             78

[190 rows x 3 columns]

In [15]:
mdf.xs(('group B', 'some college', 'standard'))

C:\Users\rashi\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2923: PerformanceWarning: indexing past lexsort depth may impact performance.
  return runner(coro)

                                math score  reading score  writing score
test preparation course gender
completed               female          88             95             92
none                    male            69             54             55
                        female          63             65             61
                        female          79             86             92
                        male            79             67             67
                        male            54             52             51
                        female          70             75             78
completed               male            88             85             76
none                    male            62             61             57
completed               male            71             75             70
none                    female          62             67             67
completed               female          50             64             66
                        male            62             66             68
none                    male            47             43             41
completed               male            87             84             86
                        male            69             77             77
none                    male            66             65             60
                        female          19             38             32
                        female          82             85             87
                        male            58             50             45
completed               male            91             96             91

In [17]:
mdf.xs(('group B', 'some college', 'standard', 'completed', 'male'))

C:\Users\rashi\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2923: PerformanceWarning: indexing past lexsort depth may impact performance.
  return runner(coro)

                                                                                    math score  \
race/ethnicity parental level of education lunch    test preparation course gender
group B        some college                standard completed               male            88
                                                                            male            71
                                                                            male            62
                                                                            male            87
                                                                            male            69
                                                                            male            91

                                                                                    reading score  \
race/ethnicity parental level of education lunch    test preparation course gender
group B        some college                standard completed               male               85
                                                                            male               75
                                                                            male               66
                                                                            male               84
                                                                            male               77
                                                                            male               96

                                                                                    writing score
race/ethnicity parental level of education lunch    test preparation course gender
group B        some college                standard completed               male               76
                                                                            male               70
                                                                            male               68
                                                                            male               86
                                                                            male               77
                                                                            male               91

In [19]:
mdf.xs('completed', level = 3)

,,,,math score,reading score,writing score
race/ethnicity,parental level of education,lunch,gender,,,
group C,some college,standard,female,69,90,88
group B,some college,standard,female,88,95,92
group D,high school,free/reduced,male,64,64,67
group A,some college,standard,male,78,72,70
group C,master's degree,free/reduced,male,46,42,46
...,...,...,...,...,...,...
group E,high school,free/reduced,male,86,81,75
group B,some high school,standard,female,65,82,78
group E,master's degree,standard,female,88,99,95
group C,high school,free/reduced,female,59,71,65
group D,some college,standard,female,68,78,77

In [20]:
mdf.xs('completed', level = 'test preparation course')

,,,,math score,reading score,writing score
race/ethnicity,parental level of education,lunch,gender,,,
group C,some college,standard,female,69,90,88
group B,some college,standard,female,88,95,92
group D,high school,free/reduced,male,64,64,67
group A,some college,standard,male,78,72,70
group C,master's degree,free/reduced,male,46,42,46
...,...,...,...,...,...,...
group E,high school,free/reduced,male,86,81,75
group B,some high school,standard,female,65,82,78
group E,master's degree,standard,female,88,99,95
group C,high school,free/reduced,female,59,71,65
group D,some college,standard,female,68,78,77

In [21]:
mdf.xs(('group A', 'completed'), level = [0, 'test preparation course'])

                                                 math score  reading score  \
parental level of education lunch        gender
some college                standard     male            78             72
associate's degree          standard     female          55             65
bachelor's degree           standard     male            80             78
some college                free/reduced male            50             47
some high school            standard     male            62             67
high school                 standard     male            72             73
some high school            standard     male            47             49
                                         male            46             41
some college                free/reduced male            81             78
bachelor's degree           free/reduced male            49             58
some high school            standard     female          59             85
bachelor's degree           standard     male            75             58
high school                 free/reduced male            72             67
                                         female          77             88
associate's degree          free/reduced male            79             82
                            standard     male            97             92
some high school            standard     female          92            100
associate's degree          free/reduced male            40             55
some college                standard     male            61             51
                                         male           100             96
high school                 standard     female          68             80
associate's degree          standard     female          65             70
bachelor's degree           standard     male            87             84
some college                standard     female          72             79
some high school            standard     female          85             90
high school                 standard     female          75             82
                            free/reduced female          34             48
some high school            free/reduced male            61             62
                            standard     male            66             68
high school                 free/reduced female          53             50
some college                standard     female          78             87

                                                 writing score
parental level of education lunch        gender
some college                standard     male               70
associate's degree          standard     female             62
bachelor's degree           standard     male               81
some college                free/reduced male               54
some high school            standard     male               69
high school                 standard     male               74
some high school            standard     male               49
                                         male               43
some college                free/reduced male               81
bachelor's degree           free/reduced male               60
some high school            standard     female             80
bachelor's degree           standard     male               62
high school                 free/reduced male               65
                                         female             85
associate's degree          free/reduced male               82
                            standard     male               86
some high school            standard     female             97
associate's degree          free/reduced male               53
some college                standard     male               52
                                         male               86
high school                 standard     female             76
associate's degree          standard     female             74
bachelor's degree           standard     male               87
some college                standard     female             82
some high school            standard     female             92
high school                 standard     female             79
                            free/reduced female             41
some high school            free/reduced male               61
                            standard     male               64
high school                 free/reduced female             60
some college                standard     female             91

In [22]:
mdf.xs(('group A', 'completed'), level = [0, 3])

                                                 math score  reading score  \
parental level of education lunch        gender
some college                standard     male            78             72
associate's degree          standard     female          55             65
bachelor's degree           standard     male            80             78
some college                free/reduced male            50             47
some high school            standard     male            62             67
high school                 standard     male            72             73
some high school            standard     male            47             49
                                         male            46             41
some college                free/reduced male            81             78
bachelor's degree           free/reduced male            49             58
some high school            standard     female          59             85
bachelor's degree           standard     male            75             58
high school                 free/reduced male            72             67
                                         female          77             88
associate's degree          free/reduced male            79             82
                            standard     male            97             92
some high school            standard     female          92            100
associate's degree          free/reduced male            40             55
some college                standard     male            61             51
                                         male           100             96
high school                 standard     female          68             80
associate's degree          standard     female          65             70
bachelor's degree           standard     male            87             84
some college                standard     female          72             79
some high school            standard     female          85             90
high school                 standard     female          75             82
                            free/reduced female          34             48
some high school            free/reduced male            61             62
                            standard     male            66             68
high school                 free/reduced female          53             50
some college                standard     female          78             87

                                                 writing score
parental level of education lunch        gender
some college                standard     male               70
associate's degree          standard     female             62
bachelor's degree           standard     male               81
some college                free/reduced male               54
some high school            standard     male               69
high school                 standard     male               74
some high school            standard     male               49
                                         male               43
some college                free/reduced male               81
bachelor's degree           free/reduced male               60
some high school            standard     female             80
bachelor's degree           standard     male               62
high school                 free/reduced male               65
                                         female             85
associate's degree          free/reduced male               82
                            standard     male               86
some high school            standard     female             97
associate's degree          free/reduced male               53
some college                standard     male               52
                                         male               86
high school                 standard     female             76
associate's degree          standard     female             74
bachelor's degree           standard     male               87
some college                standard     female             82
some high school            standard     female             92
high school                 standard     female             79
                            free/reduced female             41
some high school            free/reduced male               61
                            standard     male               64
high school                 free/reduced female             60
some college                standard     female             91

In [23]:
mdf.xs(('group A', 'completed'), level = ['race/ethnicity', 'test preparation course'])

                                                 math score  reading score  \
parental level of education lunch        gender
some college                standard     male            78             72
associate's degree          standard     female          55             65
bachelor's degree           standard     male            80             78
some college                free/reduced male            50             47
some high school            standard     male            62             67
high school                 standard     male            72             73
some high school            standard     male            47             49
                                         male            46             41
some college                free/reduced male            81             78
bachelor's degree           free/reduced male            49             58
some high school            standard     female          59             85
bachelor's degree           standard     male            75             58
high school                 free/reduced male            72             67
                                         female          77             88
associate's degree          free/reduced male            79             82
                            standard     male            97             92
some high school            standard     female          92            100
associate's degree          free/reduced male            40             55
some college                standard     male            61             51
                                         male           100             96
high school                 standard     female          68             80
associate's degree          standard     female          65             70
bachelor's degree           standard     male            87             84
some college                standard     female          72             79
some high school            standard     female          85             90
high school                 standard     female          75             82
                            free/reduced female          34             48
some high school            free/reduced male            61             62
                            standard     male            66             68
high school                 free/reduced female          53             50
some college                standard     female          78             87

                                                 writing score
parental level of education lunch        gender
some college                standard     male               70
associate's degree          standard     female             62
bachelor's degree           standard     male               81
some college                free/reduced male               54
some high school            standard     male               69
high school                 standard     male               74
some high school            standard     male               49
                                         male               43
some college                free/reduced male               81
bachelor's degree           free/reduced male               60
some high school            standard     female             80
bachelor's degree           standard     male               62
high school                 free/reduced male               65
                                         female             85
associate's degree          free/reduced male               82
                            standard     male               86
some high school            standard     female             97
associate's degree          free/reduced male               53
some college                standard     male               52
                                         male               86
high school                 standard     female             76
associate's degree          standard     female             74
bachelor's degree           standard     male               87
some college                standard     female             82
some high school            standard     female             92
high school                 standard     female             79
                            free/reduced female             41
some high school            free/reduced male               61
                            standard     male               64
high school                 free/reduced female             60
some college                standard     female             91

In [28]:
mdf.xs(('group A', 'completed'), level = ['race/ethnicity', 'test preparation course'])

                                                 math score  reading score  \
parental level of education lunch        gender
some college                standard     male            78             72
associate's degree          standard     female          55             65
bachelor's degree           standard     male            80             78
some college                free/reduced male            50             47
some high school            standard     male            62             67
high school                 standard     male            72             73
some high school            standard     male            47             49
                                         male            46             41
some college                free/reduced male            81             78
bachelor's degree           free/reduced male            49             58
some high school            standard     female          59             85
bachelor's degree           standard     male            75             58
high school                 free/reduced male            72             67
                                         female          77             88
associate's degree          free/reduced male            79             82
                            standard     male            97             92
some high school            standard     female          92            100
associate's degree          free/reduced male            40             55
some college                standard     male            61             51
                                         male           100             96
high school                 standard     female          68             80
associate's degree          standard     female          65             70
bachelor's degree           standard     male            87             84
some college                standard     female          72             79
some high school            standard     female          85             90
high school                 standard     female          75             82
                            free/reduced female          34             48
some high school            free/reduced male            61             62
                            standard     male            66             68
high school                 free/reduced female          53             50
some college                standard     female          78             87

                                                 writing score
parental level of education lunch        gender
some college                standard     male               70
associate's degree          standard     female             62
bachelor's degree           standard     male               81
some college                free/reduced male               54
some high school            standard     male               69
high school                 standard     male               74
some high school            standard     male               49
                                         male               43
some college                free/reduced male               81
bachelor's degree           free/reduced male               60
some high school            standard     female             80
bachelor's degree           standard     male               62
high school                 free/reduced male               65
                                         female             85
associate's degree          free/reduced male               82
                            standard     male               86
some high school            standard     female             97
associate's degree          free/reduced male               53
some college                standard     male               52
                                         male               86
high school                 standard     female             76
associate's degree          standard     female             74
bachelor's degree           standard     male               87
some college                standard     female             82
some high school            standard     female             92
high school                 standard     female             79
                            free/reduced female             41
some high school            free/reduced male               61
                            standard     male               64
high school                 free/reduced female             60
some college                standard     female             91

In [25]:
mdf.xs(['math score', 'reading score'], axis=1)

                                                                                        math score  \
race/ethnicity parental level of education lunch        test preparation course gender
group B        bachelor's degree           standard     none                    female          72
group C        some college                standard     completed               female          69
group B        master's degree             standard     none                    female          90
group A        associate's degree          free/reduced none                    male            47
group C        some college                standard     none                    male            76
...                                                                                            ...
group E        master's degree             standard     completed               female          88
group C        high school                 free/reduced none                    male            62
                                                        completed               female          59
group D        some college                standard     completed               female          68
                                           free/reduced none                    female          77

                                                                                        reading score
race/ethnicity parental level of education lunch        test preparation course gender
group B        bachelor's degree           standard     none                    female             72
group C        some college                standard     completed               female             90
group B        master's degree             standard     none                    female             95
group A        associate's degree          free/reduced none                    male               57
group C        some college                standard     none                    male               78
...                                                                                               ...
group E        master's degree             standard     completed               female             99
group C        high school                 free/reduced none                    male               55
                                                        completed               female             71
group D        some college                standard     completed               female             78
                                           free/reduced none                    female             86

[1000 rows x 2 columns]