In [1]:
import pandas as pd

In [2]:
scores  = [[90, 67, 89, 76, 93, 90], 
          [93, 80, 75, 86, 88, 92], 
          [82, 72, 67, 91, 87, 79], 
          [78, 85, 77, 98, 90, 72], 
          [84, 87, 91, 85, 75, 82],
          [91, 83, 90, 76, 78, 93],
          [82, 72, 67, 91, 87, 79], 
          [78, 85, 77, 98, 90, 72], 
          [84, 87, 91, 85, 75, 82],
          [91, 83, 90, 76, 78, 93],
          [82, 72, 67, 91, 87, 79], 
          [78, 85, 77, 98, 90, 72],
          [93, 80, 75, 86, 88, 92], 
          [82, 72, 67, 91, 87, 79], 
          [78, 85, 77, 98, 90, 72], 
          [84, 87, 91, 85, 75, 82],]
ind = pd.MultiIndex.from_product([['school1', 'school2', 'school3', 'school4'], [2018, 2019, 2020, 2021]])
cols = pd.MultiIndex.from_product([['7th grade', '8th grade'], ['Math', 'Reading', 'Writing']])
df = pd.DataFrame(scores, index=ind, columns= cols)
df

             7th grade                 8th grade
                  Math Reading Writing      Math Reading Writing
school1 2018        90      67      89        76      93      90
        2019        93      80      75        86      88      92
        2020        82      72      67        91      87      79
        2021        78      85      77        98      90      72
school2 2018        84      87      91        85      75      82
        2019        91      83      90        76      78      93
        2020        82      72      67        91      87      79
        2021        78      85      77        98      90      72
school3 2018        84      87      91        85      75      82
        2019        91      83      90        76      78      93
        2020        82      72      67        91      87      79
        2021        78      85      77        98      90      72
school4 2018        93      80      75        86      88      92
        2019        82      72      67        91      87      79
        2020        78      85      77        98      90      72
        2021        84      87      91        85      75      82